@import "~bootstrap/scss/bootstrap";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  display: block;
}

.btn {
  margin-top: 20px;
  color: white;
}

.btn-primary {
  color: white;
  background-color: cornflowerblue;
  margin-bottom: 2rem;
}

.btn-primary:disabled {
  background-color: dimgray;
  border-color: aliceblue;
}

.btn-basic {
  background-color: #acaea9;
  margin-bottom: 2rem;
}

.btn-danger {
  background-color: #ff6866;
  margin-bottom: 2rem;
}

.err {
  color: red;
}
